<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>THIRSTEE Edit Page!!</h1>
    <form action="/thirstee/<%=beers.id%>?_method=PUT" method="POST">
      Name: <input type="text" name="name"/><br/>
      Street: <input type="text" name="street"/><br/>
      City: <input type="text" name="city"/><br/>
      State: <input type="text" name="state"/><br/>
      Country: <input type="text" name="country"/><br/>
      tags: <input type="text" name="tags"/><br/>
      <input type="submit" value="Submit Changes"/>
    </form>
  </body>
</html>
