
<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>Thirstee Drink Finder</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
  <!---_____________Image styling for Index page _______________-->

  <!-- CSS –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton-framework/1.1.1/skeleton.css">
  <link rel="stylesheet" type="text/css"  href="/styles.css"/>
  <style>
    img {
    height: 200px;
    width: 200px;
    }
  </style>
  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="images/favicon.png">
</head>
<body>
  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <div class="container">
    <div class="row">
      <h1>Thirstee Brews</h1>
        <div class="column">
          <nav>
            <a class="button button-primary" href="/thirstee/new/">Add New Brewery!</a>
          </nav>
          <div class="images">

              <% for (let i = 0; i < beers.length; i++) { %>
                <a href="/thirstee/<%=beers[i].id%>"><img src="<%= beers[i].img %>"> </img><p><%= beers[i].name %></p></a>
                <!-- <a class="name" href="/thirstee/open squizard beers[i].id%>"> <%= beers[i].name %> </a> -->
                <% } %>
                <!-- open squizard  beers[i].name %> -->
<br>
<br>
<br>
<br>
          </div>

        </div>
      </div>
    </div>


<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>
